@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1025px) {
}

.image-class {
  max-width: 100%;
  height: auto;
}


.body-class {
    background-color: #DEB887; 
}


.header-class {
    background-color: #00008B; 
    color: grey; 
}


.nav-class {
    background-color: #666; 
    color: white; 
}
.nav-class .active {
    font-weight: bold; 

}

.title-class {
    color: #00FFFF; 
}
.section-title-class {
    color: #008B8B; 
}


.text-class {
    color: #00008B; 
}


.image-class {
    border: 2px solid #009688; 
}


.form-class input[type="text"],
.form-class input[type="email"] {
    background-color: #1E90FF; 
    color: #00008B; 
}
.button-class {
    background-color: #00BFFF; 
    color: black; 
}


.footer-class {
    background-color: #00008B; 
    color: white; 
}
